html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#leyenda {
	position:absolute;
	right: 10px;
	bottom: 10px;
	border-spacing: 2px;
	border: "0";
	cellpadding: "0px";
	cellspacing: "0px";
	width: 20%;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border: 2px solid #000;
}